.body {
    display: grid;
    height: 100;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

header {
    background: charcoal;
    padding: 2rem;
    grid-column: 1/4;
}

.nav {
    background: rgba(250, 250, 200, 2rem);
    grid-column: auto;
}

main {
    background: cyan;
    grid-column: 1/3;
}

.right-sidebar {
    background: red;
    grid-column: 3/4;
}

footer {
    background: navy;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}